.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 312px;
  flex-shrink: 0;
  background-color: var(--inputs);
  border-radius: 16px;
  padding: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.fieldLabel {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray);
}

.inputWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 12px 16px;
  background-color: var(--white);
  color: var(--gray);
}

.inputWrap input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  color: var(--main);
  background: transparent;
}

.heading {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  color: var(--main);
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 20px;
}

.group {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 20px;
}

.groupLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 4px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--main);
  cursor: pointer;
}

.searchBtn {
  width: 100%;
  padding: 16px 60px;
}

.clearBtn {
  width: 100%;
}

@media (max-width: 1023px) {
  .filters {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .filters {
    gap: 24px;
    padding: 16px;
  }

  .heading {
    padding-bottom: 16px;
  }

  .group {
    padding-bottom: 16px;
  }
}
